body
{
	font-family: 'Segoe UI', Arial, sans-serif;
	font-size: 14px;
  font-weight: 400;
}

p
{
	color: #fff;
	text-align: center;
	margin: 0;
}

h3
{
	font-size: 34px;
	text-align: center;
}


h4
{
	font-size: 24px;
	text-align: center;
}

a
{
	text-decoration: none;
}

.hidden {
  display: none;
}

.button {
  background-color: #4CAF50; /* Green */
  border-radius: 37px;
  width: 120px;
  height: 26px;
  border: none;
  color: white;
  margin-top: 35px;
  margin-left: 120px;
  padding: 20px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
}

.button2 {
  background-color: #4CAF50; /* Green */
  border-radius: 37px;
  width: 120px;
  height: 26px;
  border: none;
  color: white;
  margin-top: 80px;
  margin-left: 155px;
  padding: 20px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  cursor: pointer;
}

.button:active
{
  position: relative;
  top: 2px;
}

.button2:active
{
  position: relative;
  top: 2px;
}


#siteContainer
{
	margin: 0 auto;
	width: 1366px;
}

#mainHeader
{
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
	border-bottom: solid 2px #ccc;
  background: #153015;
}

#logo
{
  margin-top: 20px;
	width: 261px;
  height: 92px;
  margin-left: 20px;
}

#logo img
{
	width: 175px;
	margin-top: 15px;
}

#mainNav
{
  margin-top: 20px;
  margin-left: auto;
  margin-right: 20px;
	width: 821px;
  height: 92px;
}

#mainNav ul
{
	text-transform: uppercase;
  margin-top: 27px;
	display: flex;
	flex-direction: row;
}

#mainNav ul li a
{
	display: block;
  font-size: 25px;
  padding: 17px;
  color:  #E1E1E1;
}

#mainNav ul li a:hover
{
  color: #3FA353;
}


#hero
{padding-top: 20px;
	padding-bottom: 20px;
  background: #EEECEC;

}


 #heroImage {
 width: 1250px;
  height: 549px;
  margin-left: 50px;
  margin-right: 30px;
  background: url(../images/hero.jpg) no-repeat bottom;
}

#heroImage h2
{
  font-size: 53px;
  line-height: 480px;
  color: #EEEBEB;
  padding-top: 60px;
  text-align: center;
}


#tagline
{
  margin-top: 20px;
	padding-bottom: 20px;
  border-bottom: solid 2px #ccc;
}

#tagLineImage
{
  width: 1250px;
  height: 393px;
  margin-left: 50px;
  margin-right: 30px;
  background: #4066AA;
}

#tagLineImage p
{
  line-height: 200px;
}

/*#HomeBeer
{
  margin-top: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: solid 2px #ccc;
}

#HomeBeerPromoText
{
  width: 572px;
  height: 338px;
  background: #293F67;
}

#HomeBeerPromoImg {
  width: 343px;
  height: 338px;
  margin-left: auto;
  background: #293F67;
} */

#HomeBeerPromoText1
{
	margin-top: 40px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
  background: #ccc;
	border-bottom: solid 2px #ccc;
}


#HomeBeerPromoImg1
{
  margin-top: 20px;
  margin-left: auto;
  margin-right: 20px;
	width: 821px;
  height: 92px;
  background: #4066AA;
}


/* testing */

#homeBeer
{
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
  background: #2E542F;
}

#homeBeer h2
{
  margin-top: 10px;
  padding: 20px;
  font-size: 50px;
  color: #EEEBEB;
}

#HomeBeerPromoText
{
	width: 572px;
  height: 338px;
  margin-top: 90px;
  margin-left: 120px;
  margin-bottom: 50px;
  background: #293F67;
}

#HomeBeerPromoImg
{
	margin-left: 160px;
  margin-top: 90px;
  margin-right: 60px;
  margin-bottom: 50px;
	width: 343px;
  height: 338px;
  background: #293F67;
}


#charity
{
	padding-bottom: 10px;
  height: 446px;
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
  background: url(../images/community.jpg) no-repeat bottom;
}

#charityText
{
	width: 458px;
  margin-top: 58px;
  margin-left: 35%;
}

#charityText p
{
  text-align: center;
  margin-top: 80px;
  padding: 20px 10px 0px 20px;
	line-height: 20px;
	color: #E3DBDB;
	font-size: 21px;
}

#charityText h2
{
  text-align: center;
  font-size: 34px;
	font-weight: bold;
	color: #3F973C;
}


#homeEvents
{
	padding-bottom: 40px;
	display: flex;
	margin-top: 10px;
	flex-direction: row;
  justify-content: flex-start;
  background: #212020;
}

#eventsText
{
  width: 1100px;
  height: 191px;
  margin-top: 90px;
  margin-left: 120px;
  margin-bottom: 50px;
  background: #212020;
	font-size: 25px;
}

#eventsText h3
{
	color: #F3F3F3;
	padding-left: 77px;
}



#eventsText	p
{
	text-align: left;
	line-height: 50px;
	margin-top: 35px;
}


.subheading
{
	font-size: 32px;
	color: #4BAF48;
	text-align: left;
}

.lowerSub
{
	color: #367D34;
}

#theEvents
{
  margin-bottom: 10px;
	display: flex;
	flex-direction: row;
  justify-content: space-between;
	padding-bottom: 40px;
  background: #212020;
}

#theEvents p
{
  line-height: 60px;
	font-size: 25px;
	text-align: left;
	margin-left: 30px;
	margin-top: 15px;
}

#events1
{
  width: 310px;
  height: 254px;
  margin-top:30px;
  margin-left: 120px;
  margin-bottom: 50px;
  background: #505050;
}

#events2
{
  width: 310px;
  height: 254px;
  margin-top:30px;
  margin-bottom: 50px;
  background: #505050;
}

#events3
{
  width: 310px;
  height: 254px;
  margin-top:30px;
  margin-right: 120px;
  margin-bottom: 50px;
  background: #505050;
}

#upperFooter
{
	display: flex;
	flex-direction: row;
  justify-content: space-between;
  background: #080C08;
}

#upperFooter h4
{
  line-height: 25px;
	color: #D4D4D4;
}

#upperFooter p, a
{
	font-size: 12px;
	color: #707070;
}

#footerLogo
{
  width: 186px;
  height: 166px;
  margin-top:30px;
  margin-left: 150px;
  margin-bottom: 20px;
}

#footerLogo img
{
	width:130px;
}

#footerLogo p
{
	margin-top: 70px;
	margin-right: 20px;
}

#footerContact
{
  width:186px;
  height: 166px;
  margin-top:30px;
  margin-bottom: 20px;
}


#footerContact p
{
	margin-top: 20px;
	line-height: 2px;
}

.phone
{
	padding-top: 10px;
	padding-bottom: 23px;
}

.footerButton
{
	  background-color: #1C6836;
	  border-radius: 20px;
	  width: 75px;
	  height: 24px;
	  border: none;
	  color: white;
	  margin-left: 50px;
	  padding: 5px 5px 5px 5px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 10px;
		line-height: 24px;
	  cursor: pointer;
}

#footerNews
{
  width:186px;
  height: 166px;
  margin-top:30px;
  margin-bottom: 20px;
}

#footerNews p
{
	line-height: 22px;
	padding: 13px 25px 20px 25px;
}


#footerNav
{
  width: 186px;
  height: 166px;
  margin-top:30px;
  margin-right: 150px;
  margin-bottom: 20px;
}

#footerNav ul li {
	text-decoration: none;
	text-align: left;
	padding-top: 12px;
	margin-left: 40px;
	padding-left: 30px;
}

#footerNav ul li a:hover
{
 color: #3FA353;
}

#social
{
  display: flex;
	flex-direction: row;
  justify-content: flex-start;
  background: #080C08;
}


#socialMedia
{
  width: 500px;
  height: 50px;
  margin-left: 470px;
}

#socialMedia ul li
{
	display: inline-flex;
	padding-left: 28px;
	padding-right: 90px;
}


#socialMedia ul li a img
{
	width:43px;
	height: 43px;

}

#socialMedia ul li a:hover
{
	color: #3FA353;
}

/* page 2 -About */

#aboutHero {
width: 1250px;
 height: 465px;
 margin-left: 60px;
 margin-right: 30px;
 margin-bottom: 20px;
 background: url(../images/about_hero.jpg) no-repeat bottom;
}

#aboutHero h2
{
 font-size: 53px;
 line-height: 480px;
 color: #EEEBEB;
 padding-top: 10px;
 text-align: center;
}


#aboutWho
{
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
  background: #2E542F;
	height: 450px;
}

#aboutWho h2
{
  margin-top: 10px;
  padding: 20px;
  font-size: 34px;
  color: #EEEBEB;
	text-align: center;
}

#aboutWho p
{
	margin-top: 23px;
	font-size: 21px;
	line-height: 25px;
	color: #C9C9C9;
	text-align: left;
}


#aboutWhoText
{
	width: 590px;
  height: 370px;
  margin-top: 60px;
  margin-left: 120px;
  margin-bottom: 50px;
  background: #293F67;
}

#aboutWhoImg
{
	margin-left: 160px;
  margin-top: 60px;
  margin-right: 60px;
  margin-bottom: 50px;
	width: 383px;
  height: 370px;
  background: #293F67;
}

#partnership
{
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
  background: #2E542F;
	margin-top: 10px;
	height: 392px;
	background: url(../images/about_partnership.jpg) no-repeat bottom;
}

#partnershipText
{
	width: 590px;
  height: 370px;
  margin-top: 40px;
  margin-left: 120px;
  margin-bottom: 50px;
}

#partnershipText h2
{
  margin-top: 10px;
  padding: 20px;
  font-size: 34px;
  color: #EEEBEB;
	text-align: left;
}

#partnershipText p
{
	margin-top: 60px;
	font-size: 21px;
	line-height: 25px;
	color: #F5F4F4;
	text-align: left;
}


.transBack
{
	background-color: rgba(57, 177, 98, 0.8);
}

.buttonPartnership
{
border-radius: 37px;
width: 120px;
height: 26px;
border: none;
color: white;
margin-top: 50px;
margin-left: 210px;
padding: 20px 20px 20px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 23px;
cursor: pointer;
}

#aboutAwards
{
	padding-bottom: 40px;
	display: flex;
	margin-top: 10px;
	flex-direction: row;
  justify-content: flex-start;
}

	#AwardsText
	{
	  width: 1100px;
	  height: 80px;
	  margin-top: 42px;
	  margin-left: 120px;
		font-size: 25px;
	}

	#AwardsText h3
	{
		color: #000;
    padding-right: 40px;
	}

	 #theAwards
	 {
	   margin-bottom: 10px;
	 	display: flex;
	 	flex-direction: row;
	  justify-content: space-between;
		margin-left: 30px;

	 }

	 #award1
	 {
	   width: 260px;
	   height: 150px;
	   margin-top:35px;
	   margin-left: 120px;


	 }

	 #award2
	 {
	   width: 260px;
	   height: 150px;
	   margin-top:30px;


	 }

	 #award3
	 {
	   width: 260px;
	   height: 150px;
	   margin-top:30px;
	   margin-right: 120px;


	 }

	 	 #award3 img
		 {
			 height: 110px;
		 }


		 #award1 a:hover {
		   filter: grayscale(80%);
		 }

		 #award2 a:hover {
		 	filter: grayscale(80%);
		 }

		 #award3 a:hover {
		   filter: grayscale(80%);
		 }
