
p, h1, h2, h3, h4, a { font-family: 'Noto Sans', sans-serif;}


a
{
	text-decoration: none;
}


h3 {
	font-size: 34px;
}


p
{
	color: #fff;
	line-height: 100px;
	text-align: center;
	margin: 0;
}


.hidden {
  display: none;
}




#siteContainer
{
	margin: 0 auto;
	max-width: 1366px;
}

/*mobile first*/


#mainHeader
{
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
	background:#153015;
	border-bottom: solid 2px #ccc;
}

#logo
{
  margin-top: 37px;
  margin-left: 20px;
  height: 65px;
}

#logo img {
	width: 125px;
}

#mainNav
{
  margin-top: 20px;
  margin-right: 20px;
	width: 100px;
  height: 92px;
	display: none;
	/*display: none; */
}

#mainNav.slideToggle {
	display: block;
}

#mainNav ul.slideToggle {
	display: block;
}

#mainNav ul
{
	text-transform: uppercase;
  margin-top: 27px;
	flex-direction: row;
	text-align: center;
}

#mainNav ul li a.slideToggle {
		border-bottom:1px solid #031A13;
}

#mainNav ul li a
{
	display: block;
  font-size: 25px;
  padding: 17px;
  color:  #E1E1E1;
	text-decoration: none;
}

#mainNav ul li a:hover
{
  color: #3FA353;
}

#menuToggle {
	margin-left: auto;
  margin-right: 20px;
	color: #fff;
	float: right;
	line-height: 120px;
	font-size: 24px;
	display: block;
}

#menuToggle button {
  background: url(../assets/burger.svg) center no-repeat;
  border: 0px;
  height: 50px;
	width: 50px;
  transition: all 400ms ease;
	cursor: pointer;
}

#menuToggle.expanded {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);

  transform: rotate(90deg);
}

#hero
{
  margin-top: 55px;
	padding-bottom: 20px;

}

 #heroImage {
  height: 448px;
	height: 780px;
  margin-left: 20px;
  margin-right: 20px;
  background: url(../images/hero_mobile.jpg) no-repeat bottom;
}

#heroImage h2
{
  font-size: 40px;
	text-align: center;
	padding-top: 250px;
	color: #fff;
}


#tagline
{
  margin-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

#tagline h3 {font-weight: bolder;}
#tagline h4 {  font-size: 25px; margin-top:50%; color: #FEFEFE}


#tagLineImage
{
  min-height: 350px;
	margin-left: 20px;
  margin-right: 20px;
	background: url(../images/home_mobile_banner3.jpg) no-repeat bottom;
}

#tagLineImage p
{
line-height: 150px;
}

#homeBeer
{
	padding-bottom: 1px;
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
  background: #2E542F;
	height: 273.25px;
	background: url(../images/home_product_mobile_promo4_bckgrd2.jpg) no-repeat bottom;
}

#homeBeer h2
{
  margin-top: 10px;
  padding: 20px;
  font-size: 14px;
  color: #EEEBEB;
	line-height: 30px;
}

#homeBeer p
{
line-height: 50px;
}

#HomeBeerPromoText
{
	width: 58%;
  height: 34%;
  margin-top: 80px;
	margin-left: 10px;
	margin-right: 10px;
  margin-bottom: 50px;
}

#HomeBeerPromoText h2 {
	font-size: 16px;
}

#homeBeerBottle {
	background: url(../images/home_promo_mobile_only_bottles1.png) no-repeat bottom;
	min-height: 144px;
	min-width: 201px;
	margin: 0 auto;
}

#HomeBeerPromoImg
{
	margin-left: 30px;
  margin-top: 70px;
  margin-bottom: 50px;
	width: 42%;
  height: 55.5%;
	order: -1;
  background: #293F67;
}

#homeBeer a { display:none;}
#charity a { display:none;}


#charity
{
  margin-bottom: 10px;
	min-height: 282px;
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
  margin-top: 25px;
	background: url(../images/community_mobile_size2.2.jpg) center no-repeat;
}

#charityText
{
	min-width: 292px;
  margin-top: 25px;
  margin-left: 10%;
	margin-right: 10%;
  margin-bottom: 25px;
	flex-grow: 1;
}

#charityText h3
{
	font-weight: bolder;
  color: #22C71C;
	text-align: center;
}

#charityText p {
	margin-top: 35px;
	font-size: 13px;
	line-height: 30px;
}

.button2 {
  background-color: #4CAF50; /* Green */
  border-radius: 37px;
  width: 78px;
  height: 5px;
  border: none;
  color: white;
  margin-top: 4%;
  margin-left:39%;
	margin-right: 39%;
  padding: 20px 20px 20px 20px;
	line-height: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
}

.button:active
{
  position: relative;
  top: 2px;
}

.button2:active
{
  position: relative;
  top: 2px;
}

#viewMoreBtn:hover {  background: #CBC0C0; color: #444040; }

#learnMoreBtn:hover {  background: #CBC0C0; color: #444040; }

#homeEvents
{
	padding-bottom: 15px;
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
  background: #212020;
	margin-top: 20px;
}

#eventsText
{
  min-width: 80%;
  min-height: 110px;
  margin: 25px auto;
}

#eventsText h3
{
	color: #F3F3F3;
	text-align: center;
	margin-bottom: 12px;
}

/*#eventsText p
{
  line-height: 120px;
} */

#eventsText	p
{
	text-align: left;
	line-height: 50px;
	margin-top: 0;
}


.subheading
{
	font-size: 20px;
	color: #4BAF48;
	text-align: left;
}

.lowerSub
{
	color: #367D34;
	font-size: 17px;
}



#theEvents
{
  margin: 0 auto;
	margin-bottom: 25px;;
	display: flex;
	flex-direction: column;
  justify-content: space-between;
	padding-bottom: 5px;
  background: #212020;
	flex-wrap: nowrap;
}

#theEvents p
{
  line-height: 80px;
	font-size: 21px;
}

/*#event1
{
  margin-top:30px;
  margin-bottom: 50px;
  background: #293F67;
}  */

.events
{

	min-width: 266.96px;
  min-height:145.94px;
  /* margin-top:30px; */
	 margin: 30px;
  margin-bottom: 50px;
	flex-grow: 1;
  background: #505050;
}

/*#event3
{
	width: 266.96px;
  height:145.94px;
  margin-top:30px;
  margin-right: 120px;
  margin-bottom: 50px;
  background: #293F67
} */

#upperFooter
{
	display: grid;
	flex-direction: row;
	grid-template-columns: 1fr 1fr;
  grid-template-rows:  1fr 0.5fr 0.5fr 0.5fr ;
	padding-bottom: 40px;
  background: #080C08;
	padding: 25px;
	  grid-gap: 1em;

}

#upperFooter p, a
{
  line-height: 40px; font-size: 16px; color: #707070;
}

#upperFooter h4 {
	font-size: 35px; text-align: center; margin-bottom: 5px; color: #F5F5F5;
}



#footerLogo
{
	grid-column: 1/3;
	grid-row: 3/4;
	height: 100px;
	margin-left: 40px;
	margin-right: 40px;
  margin-bottom: 20px;
}

#footerLogo img {
 width: 170px;
 display: flex;
 margin: auto;
}

.footerButton
{
	  background-color: #1C6836;
	  border-radius: 20px;
	  width: 75px;
	  height: 24px;
	  border: none;
	  color: white;
	  margin-left: 50px;
	  padding: 5px 5px 5px 5px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 10px;
		line-height: 24px;
	  cursor: pointer;
}

#joinNow:hover { background: #CBC0C0; color: #444040; }
#contactButton:hover { background: #CBC0C0; color: #444040; }

#footerContact
{
	grid-column: 1/2;
	grid-row: 1/2;
  margin-top:30px;
  margin-bottom: 20px;
}

#footerContact, #footerNews, #footerNav h4 { font-size: 23px; text-align: center; margin-bottom: 5px; color: #F5F5F5}

#footerContact a , #footerNews a { margin: 5px 20%}

#footerNews
{
	grid-column: 2/3;
  grid-row: 1/2;
  margin-top:30px;
  margin-bottom: 20px;
}


#footerNav
{
	grid-column: 1/3;
	grid-row: 4/5;
	height: 100px;
	margin-top: 15px;
	text-align: center;
}
 #footerNav ul {
	 display: flex;
	 justify-content: flex-start;
	 flex-direction: row;
	 margin-top: 17px;
 }
#footerNav ul li {
	text-decoration: none;
	padding-top: 12px;
	padding: 0 2%;
  margin: auto;
	font-size: 16px;
}

#footerNav ul li a:hover
{
 color: #3FA353;
}


#socialMedia
{
	grid-column: 1/3;
	grid-row: 2/3;
  margin-top: 20px;
  margin-bottom: 20px;
}

#socialMedia ul {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

#socialMedia ul li
{
	padding: 0 2%;
  margin: auto;
}


#socialMedia ul li a img
{
	min-width:51px;
	min-height: 51px;

}

#socialMedia ul li a:hover
{
	color: #3FA353;
}
#socialMedia p
{
  line-height: 55px;
}

/* end of page one */

@media screen and (min-width:26em) {

	#heroImage {
	 background: url(../images/hero_mobile_big2.jpg) no-repeat bottom;
	}

	#tagLineImage {
		background: url(../images/home_mobile_banner3.3.jpg) no-repeat bottom;
	}

}

@media screen and (min-width:26em) {
	#HomeBeerPromoText a { display:block;}
	#charity a { display:block;}
}
/* end of page one */

@media screen and (min-width:29em) {
	 #footerNews a { margin: 5px 35%}
	 	#HomeBeerPromoText h2 { font-size: 21px;}

		/* end of page one */
}

@media screen and (min-width: 36em) {
	#HomeBeerPromoText h2 { font-size: 25px;}

	#tagline h3 { margin : auto; font-weight: bolder;}
	#tagline h4 {  font-size: 25px; margin-top:30%;}
	/* end of page one */
}

@media screen and (min-width:39em) {
	#charity
	{

		background: url(../images/community_mobile_size3.2.jpg) center no-repeat;
	}

  #charityText p { font-size: 15px;}

	#learnMoreBtn { }

	#upperFooter h4 {
		font-size: 39px; text-align: center; margin-bottom: 5px; color: #F5F5F5
	}

	#upperFooter p, a
	{
	 font-size: 24px; color: #707070;
	}

	#footerLogo img {
	 width: 190px;
 }

 #socialMedia ul li a img {
 	min-width:70px; min-height: 70px;
}
.footerButton
{
	  width: 90px;
	  height: 30px;
	  font-size: 15px;
		line-height: 27px;
	  }
/* end of page one */
}

@media screen and (min-width:45em) {

}

@media screen and (min-width:47em) {
	#tagLineImage {
		background: url(../images/home_mobile_banner3.4.jpg) no-repeat bottom;
	}

	#homeBeer {
		background: url(../images/home_product_mobile_promo4_bckgrd_big.jpg) no-repeat bottom;
	}

	#homeBeerBottle {
		background: url(../images/home_promo_mobile_only_bottles2_big.png) no-repeat bottom;
		min-height: 188px;
		min-width: 259px;

	}

	#charity
	{

		background: url(../images/community_mobile_size4.jpg) center no-repeat;
	}

	#homeEvents
	{
		padding-bottom: 15px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-top: 20px;
	}

	#eventsText
	{
		min-width: 600px;
		width: 87%;
		height: 130px;
		margin-top: 50px;
		margin-bottom: 10px;
	}

	#eventsText p
	{
		line-height: 50px;
	}


	.subheading
	{
		font-size: 24px;

	}

	.lowerSub
	{
		color: #367D34;
		font-size: 21px;
	}



	#theEvents
	{
	  margin: 0 auto;
		margin-bottom: 25px;;
		display: flex;
		flex-direction: column;
	  justify-content: space-between;
		padding-bottom: 5px;
	  background: #212020;
		flex-wrap: nowrap;
	}

	#theEvents p
	{
	  line-height: 80px;
		font-size: 21px;
	}

	#charityText p { font-size: 17px;}
	/* end of page one */
}

@media screen and (min-width:55em) {
	/*#HomeBeerPromoText {
	height: 65%;
	width: 50%;
	margin-top: 60px;
	margin-bottom: 20px;
	} */

	#HomeBeerPromoImg {
		height: 75%;
		width: 50%;
		margin-left: 20px;
		margin-top: 45px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 928px){
	#mainNav.slideToggle
	{
		/*display: none; */
		position: absolute;
		width: 100%;
		height: 100%;
		background: #07231B;
		top: 120px;
		transition: 0.5s;
  }
/* end of page one */
}

@media screen and (min-width:58em) {

	#mainHeader
	{
		padding-bottom: 20px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		border-bottom: solid 2px #ccc;
	}

	#logo
	{
		margin-top: 50px;
		width: 261px;
		height: 92px;
		margin-left: 20px;
	}

	#mainNav
	{
		margin-top: 20px;
		margin-left: auto;
		margin-right: 20px;
		min-width: 500px;
		height: 92px;
		min-width: 739px;
		display:block;
	}

	#mainNav ul
	{
		text-transform: uppercase;
		margin-top: 27px;
		display: flex;
		flex-direction: row;
	}

#mainNav ul li a {
	font-size: 22px;
}


#menuToggle {
	display: none;
}

	#hero
	{
		margin-top: 55px;
		padding-bottom: 20px;

	}


	 #heroImage {
		height: 448px;
		margin-left: 55px;
		margin-right: 50px;
		flex-grow: 1;
		background: url(../images/hero.jpg) no-repeat bottom;
		}


		#heroImage h2
		{
		  font-size: 47px;
			text-align: center;
			padding-top: 230px;
			color: #fff;
		}


	#tagline
	{
		margin-top: 20px;
		padding-bottom: 20px;
		border-bottom: solid 2px #ccc;
	}

	#tagLineImage
	{
		max-width: 1250px;
		height: 393px;
		margin-left: 50px;
		margin-right: 50px;
		background: url(../images/home_banner_2.jpg) no-repeat bottom;


	}


	#tagLineImage p
	{
		line-height: 200px;
	}


	#homeBeer
	{
		padding-bottom: 1px;
		max-height: 456px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		height: 415px;
		background: url(../images/home_product_mobile_promo4_bckgrd2_desktop.jpg) no-repeat bottom;
	}

	#homeBeer h2
	{
		line-height: 70px;
	}

	#HomeBeerPromoText
	{
		width: 572px;
		height: 298px;
		margin-top: 90px;
		margin-left: 120px;
		margin-bottom: 50px;
		order: -1;
	}

	#HomeBeerPromoText h2 { font-size: 32px;}

	#homeBeerBottle {
		background: url(../images/home_promo_only_bottles2_desktop.png) no-repeat bottom;
		min-height: 339px;
		min-width: 335px;
		margin: 0 auto;
	}

	#HomeBeerPromoImg
	{
		margin-left: 160px;
		margin-top: 90px;
		margin-right: 60px;
		margin-bottom: 50px;
		width: 347px;
		height: 338px;
		background: #293F67;
	}


	#charity
	{
		margin-bottom: 10px;
		height: 392px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
			background: url(../images/comunity_desktop1.jpg) no-repeat bottom;
		margin-top: 25px;
	}

	#charityText
	{
		min-width: 420px;
		margin-top: 40px;
		margin-left: 25%;
		margin-right: 25%;
		margin-bottom: 40px;
	}

#charityText h3 { font-size: 36px}

#charityText p { line-height: 43px; font-size: 18px; margin-top: 50px;}

#learnMoreBtn {}

	#upperFooter
	{
		display: grid;
		flex-direction: row;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows:   0.5fr 0.5fr;
		justify-content: space-between;
		padding-bottom: 40px;
	}

	#upperFooter p
	{ line-height: 40px; font-size: 13px; }

	#upperFooter h4 { font-size: 25px;}

	#footerNav ul {
 	 display: flex;
 	 justify-content: flex-start;
 	 flex-direction: column;
	 line-height: 5px;
	 margin-top: 0;


  }
 #footerNav ul li a { font-size: 14px; }

 #socialMedia ul { margin-left: 17px;}

 #socialMedia ul li a img { min-width:55px; min-height: 55px; }


	#footerLogo
	{
		grid-column: 1/2;
		grid-row: 1/2;
		width: 186px;
		height: 166px;
		margin: 0 auto;
		margin-top:30px;
		margin-bottom: 20px;
	}

	#footerLogo p { margin: 30px;}

	#footerContact
	{
		grid-column: 2/3;
		grid-row: 1/2;
		width:186px;
		height: 166px;
		margin: 0 auto;
		margin-top:30px;
		margin-bottom: 20px;
	}

	#footerNews
	{
		grid-column: 3/4;
		grid-row: 1/2;
		width:186px;
		height: 166px;
		margin: 0 auto;
		margin-top:30px;
		margin-bottom: 20px;
	}
#footerNews a { margin: 5px 25%}

	#footerNav
	{
		grid-column: 4/5;
		grid-row: 1/2;
		width: 186px;
		height: 166px;
		margin: 0 auto;
		margin-top:30px;
		margin-bottom: 20px;
	}



	#socialMedia
	{
		grid-column: 2/4;
		grid-row: 2/3;
		height: 57px;
		margin-top: 20px;
	}

	#socialMedia p
	{
		line-height: 55px;
	}

/* end of page one */

}

@media screen and (min-width:64em) {

	#mainHeader
	{
		padding-bottom: 20px;
		display: flex;
		flex-direction: row;
	  justify-content: flex-start;
		border-bottom: solid 2px #ccc;
	  background: #153015;
	}

	#logo
	{
	  margin-top: 20px;
		width: 261px;
	  height: 92px;
	  margin-left: 20px;
	}

	#logo img
	{
		width: 175px;
		margin-top: 15px;
	}

	#mainNav
	{
	  margin-top: 20px;
	  margin-left: auto;
	  margin-right: 20px;
		width: 821px;
	  height: 92px;
	}

	#mainNav ul
	{
		text-transform: uppercase;
	  margin-top: 27px;
		display: flex;
		flex-direction: row;
	}

	#mainNav ul li a
	{
		display: block;
	  font-size: 24px;
	  padding: 17px;
	  color:  #E1E1E1;
	}

	#mainNav ul li a:hover
	{
	  color: #3FA353;
	}


	#hero
	{
	  margin-top: 55px;
		padding-bottom: 20px;

	}


	 #heroImage {
	 max-width: 1250px;
	  height: 448px;
	  margin-left: 55px;
	  margin-right: 50px;
	  background: url(../images/hero.jpg) no-repeat bottom;
	}

	#heroImage p
	{
	  line-height: 450px;
	}


	#tagline
	{
	  margin-top: 20px;
		padding-bottom: 20px;
	  border-bottom: solid 2px #ccc;
	}

	#tagline h3 {font-weight: bolder;}
	#tagline h4 {  font-size: 28px; margin-top:310px; margin-bottom: 20px;; color: #FEFEFE}

	#tagLineImage
	{
	  max-width: 1250px;
	  height: 393px;
	  margin-left: 50px;
	  margin-right: 50px;
		background: url(../images/home_banner_2.jpg) no-repeat bottom;
}

#HomeBeerPromoText h2 { font-size: 34px;}

	#HomeBeerPromoImg
	{
		margin-left: 160px;
	  margin-top: 90px;
	  margin-right: 60px;
	  margin-bottom: 50px;
		width: 347px;
	  height: 338px;
	  background: #293F67;
	}


	#charity
	{
	  margin-bottom: 10px;
		height: 392px;
		display: flex;
		flex-direction: row;
	  justify-content: flex-start;
	  margin-top: 25px;
	}

	#charityText
	{
		width: 595px;
	  margin-top: 25px;

	}
  #charityText h3 { margin-bottom: 40px;}
	#charityText p { margin-top: 60px;}
	.button2 {
	  width: 88px;
	  height: 7px;
	  margin-top: 4%;
	  margin-left:39%;
		margin-right: 39%;
	  padding: 20px 20px 20px 20px;
		line-height: 10px;
	  font-size: 16px;

	}


	#homeEvents
	{
		padding-bottom: 15px;
		display: flex;
		flex-direction: row;
	  justify-content: flex-start;
		margin-top: 20px;
	}

	#eventsText
	{
	  min-width: 967px;
		width: 87%;
	  height: 130px;
	  margin-top: 50px;
	  margin-bottom: 10px;
	}

	#eventsText p
	{
	  line-height: 50px;
	}

	#theEvents
	{
	  margin-bottom: 20px;
		display: flex;
		flex-direction: row;
	  justify-content: space-between;
		padding-bottom: 5px;
	}

	#theEvents p
	{
	  line-height: 80px;
	}

#events {
	background: #fff;
}

	#upperFooter h4 { font-size: 28px}
	#upperFooter p { font-size: 13px; }
#socialMedia ul { margin: 0 10%;}

/* end of page one */
}



/* page 2 starts here*/

#heroAbout
{
  margin-top: 55px;
	padding-bottom: 20px;

}

 #heroImageAbout {
  height: 448px;
	height: 780px;
  margin-left: 20px;
  margin-right: 20px;
  background: url(../images/about_hero_mobile2.jpg) no-repeat bottom;
}

#heroImageAbout h2
{
  font-size: 40px;
	text-align: center;
	padding-top: 230px;
	color: #fff;
}
	#aboutWho
	{
	  margin-top: 20px;
		padding-bottom: 20px;
		text-align: center;
	}

	#aboutWho h3 {font-weight: bolder; color: #22C71C; padding-top: 27px;}

	#aboutWhoimage
	{
	  min-height: 350px;
		margin-left: 20px;
	  margin-right: 20px;
		background: url(../images/about_section_mobile2.jpg) no-repeat bottom;
	}

	#aboutWhoimage p
	{
	line-height: 35px;
	padding-top: 50px;
	margin-top: 20px;
	font-size: 14px;
	}

	#partnership
	{
	  margin-bottom: 10px;
		min-height: 282px;
		display: flex;
		flex-direction: row;
	  justify-content: flex-start;
	  margin-top: 25px;
		background: url(../images/about_partnership_mobile2.jpg) center no-repeat;
	}

	#partnershipText
	{
		min-width: 292px;
	  margin-top: 25px;
	  margin-left: 10%;
		margin-right: 10%;
	  margin-bottom: 25px;
		flex-grow: 1;
	}

	#partnershipText h3
	{
		font-weight: bolder;
	  color: #22C71C;
		text-align: center;
	}

	#partnershipText p {
		margin-top: 35px;
		font-size: 13px;
		line-height: 30px;
	}

	#theAwards
	{
	  margin: 0 auto;
		margin-bottom: 25px;
		display: flex;
		flex-direction: column;
	  justify-content: space-between;
		padding-bottom: 5px;
		flex-wrap: nowrap;

	}

#theAwards h3 { text-align: center; margin-bottom: 25px;}

	#theAwards p
	{
	  line-height: 80px;
		font-size: 21px;
	}


	.awards
	{

		min-width: 266.96px;
	  min-height:145.94px;
	  /* margin-top:30px; */
		 margin: 30px;
	  margin-bottom: 50px;
		flex-grow: 1;
		margin: auto;
	}

	#award2 img  {
		margin-left: 30%;
	}

	#award3 img  {
		margin-left: 30%;
				height: 130px;
		}





@media screen and (min-width:26em) {

	#heroImageAbout {
	 background: url(../images/about_hero_mobile2_big.jpg) no-repeat bottom;
	}

	#aboutWhoimage {
		background: url(../images/about_section_mobile2.2.jpg) no-repeat bottom;
	}

	#aboutWho p { font-size: 17px;}
}  #partnershipText p { font-size: 17px;}

@media screen and (min-width:39em) {
	#partnership
	{

		background: url(../images/about_partnership_mobile2.2_big.jpg) center no-repeat;
	}

  #partnershipText p { font-size: 15px;}

	#awards2 img {
		height: 150px;
	}

	#award3  img {
		height: 140px;
	}
}


@media screen and (min-width:47em) {
	#aboutWhoimage {
		background: url(../images/about_section_mobile2.3.jpg) no-repeat bottom;
	}

	#aboutWho p { font-size: 19px;}
 #partnershipText p { font-size: 19px;}
}

@media screen and (min-width:58em) {
	#heroImageAbout {
	 height: 448px;
	 margin-left: 55px;
	 margin-right: 50px;
	 flex-grow: 1;
	 background: url(../images/about_hero.jpg) no-repeat bottom;
	 }

	 #heroImageAbout h2 {
		 padding-top:180px;
	 }

	 #aboutWho
	 {
		 margin-top: 20px;
		 padding-bottom: 20px;
	 }

	 #aboutWho h3 {font-weight: bolder;}

#aboutWho p { font-size: 21px; margin-top: 30px;}


	 #aboutWhoimage
	 {
		 max-width: 1250px;
		 height: 393px;
		 margin-left: 50px;
		 margin-right: 50px;
		 background: url(../images/about_section.jpg) no-repeat bottom;
	}

	#partnership
	{
		margin-bottom: 10px;
		height: 392px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		background: url(../images/about_partnership.jpg) no-repeat bottom;
		margin-top: 25px;
	}

	#partnershipText
	{
		min-width: 420px;
		margin-top: 40px;
		margin-left: 25%;
		margin-right: 25%;
		margin-bottom: 40px;
	}

#partnershipText h3 { font-size: 36px}

#partnershipText p { line-height: 43px; font-size: 21px; margin-top: 50px;}

#theAwards
{
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 5px;
}

#theAwards h3 {
	padding: 60px 100px 100px 100px;
	font-size: 50px;
	margin-bottom: 15px;
}
}
/*end of page 2*/

/* page 3 */

#productsHero {
 height: 448px;
 height: 780px;
 margin-left: 20px;
 margin-right: 20px;
 background: url(../images/product_hero_mobile_new.jpg) no-repeat bottom;
}

#productsHero h2
{
 font-size: 40px;
 text-align: center;
 padding-top: 230px;
 color: #fff;
}


#subBanner
{
	min-height: 175px;
	background: #2E542F;
	margin-bottom: 40px;
}

#subBanner h2
{
	font-size: 34px;
	color: #EEEBEB;
	padding: 45px;
	text-align: center;

}


.beerOptions
{
	display:flex;
	flex-wrap: wrap;
  flex-direction: column;
	justify-content: space-between;
	align-content: center;
}

.box
{
	width: 500px;
	align-content: center;
	padding: 100px;
	background-color: #fff;
}
.box p {
	color: #000;
	font-size: 16px;
	text-align:  center;
	padding-top: 5px;
}

#product1 {
	/*background: url(../images/product_green2.jpg) no-repeat bottom; */
}

#product2 {
/*	background: url(../images/product_black2.jpg) no-repeat bottom; */
}

#product3 {
/*	background: url(../images/product_red3.jpg) no-repeat bottom; */
}

#product4 {
	/*background: url(../images/product_blue1.jpg) no-repeat bottom; */
}



#suggestionHow
{
	margin-bottom: 10px;
	min-height: 282px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 25px;
	background: url(../images/product_suggestion_mobile.jpg) center no-repeat;
}

#suggestionText
{
	min-width: 292px;
	margin-top: 25px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 25px;
	flex-grow: 1;
}

#suggestionText h3
{
	font-weight: bolder;
	color: #08B826;
	padding-top: 20px;
	text-align: center;
}

#suggestionText p {
	padding-top: 50px;
	font-size: 13px;
	color: #E8FFF0;
	line-height: 30px;
}


@media screen and (min-width:26em) {

	#productsHero {
	 background: url(../images/product_hero_mobile_new_big.jpg) no-repeat bottom;
	}
}

@media screen and (min-width:39em) {
	#suggestionHow
	{

		background: url(../images/product_suggestion_mobile2_big.jpg) center no-repeat;
	}

  #suggestionText p { font-size: 16px;}
}



@media screen and (min-width:58em) {

	#productsHero {
	 background: url(../images/product_hero_desktop1.jpg) no-repeat bottom;
	 max-width: 1250px;
	  max-height: 465px;


	}


#productsHero h2
{
 font-size: 53px;
 line-height: 480px;
 color: #EEEBEB;
 padding-top: 10px;
 text-align: center;
}

#subBanner
{
	height: 130px;
	background: #2E542F;
	margin-bottom: 40px;
}

#subBanner h2
{
	font-size: 34px;
	color: #EEEBEB;
	padding: 45px;
	text-align: center;

}
.beerOptions
{
	display:flex;
	flex-wrap: wrap;
  flex-direction: column;
	justify-content: space-between;
	align-content: center;



}

.box
{
	width: 500px;
	align-content: center;
	padding: 100px;
}
.box p {
	color: #000;
	font-size: 16px;
	text-align:  center;
	padding-top: 5px;
}

#product1 {
	background: url(../images/product_green2.jpg) no-repeat bottom;
}

#product2 {
	background: url(../images/product_black2.jpg) no-repeat bottom;
}

#product3 {
	background: url(../images/product_red3.jpg) no-repeat bottom;
}

#product4 {
	background: url(../images/product_blue1.jpg) no-repeat bottom;
}


#suggestionHow
{
 padding-bottom: 40px;
 display: flex;
 flex-direction: row;
	justify-content: flex-start;
	background: #2E542F;
 margin-top: 10px;
 height: 392px;
 margin-bottom: 10px;
 background: url(../images/beer_sence2_product_idea.jpg) no-repeat bottom;
}

#suggestionText p
{
 text-align: center;

}

#suggestionText
{
 width: 590px;
	height: 370px;
	margin-top: 40px;
	margin-left: 120px;
	margin-bottom: 50px;
}

#suggestionText h3
{
	margin-top: 10px;
	padding: 20px;
	font-size: 34px;
	color: #EEEBEB;
 text-align: left;
}

#suggestionText p
{
 margin-top: 70px;
 font-size: 21px;
 line-height: 30px;
 color: #F5F4F4;
 text-align: left;
}


}


/* page 5 start */

#heroAbout
{
  margin-top: 55px;
	padding-bottom: 20px;

}

 #contactHeroImage {
  height: 448px;
	height: 780px;
  margin-left: 20px;
  margin-right: 20px;
  background: url(../images/contact_hero_new_mobile.jpg) no-repeat bottom;
}

#contactHeroImage h2
{
  font-size: 40px;
	text-align: center;
	padding-top: 230px;
	color: #fff;
}


#contactUs
{
 padding-bottom: 40px;
 display: flex;
 flex-direction:column;
	justify-content: flex-start;
	background: #2E542F;

}

#contactUs h2
{
	margin-top: 10px;
	padding: 20px;
	font-size: 34px;
	color: #EEEBEB;
 text-align: center;
}


#contactText
{
 width: 590px;
	height: 475px;
	margin: auto;
	margin-bottom: 50px;

}

#contactText p
{
 margin-top: 5px;
 font-size: 21px;
 margin-bottom: 50px;
 line-height: 25px;
 color: #C9C9C9;
 text-align: left;
}


#contactImg
{
margin: auto;
padding-top: 70px;
 width: 433px;
	height: 400px;
	background: url(../images/contact_hours.jpg) no-repeat bottom;
}

#contactImg h3
{
 color: #fff;
 margin-top: 80px;
 line-height: 100px;
 text-align: center;
}

#contactImg p
{
 line-height: 30px;
 margin-top: 50px;
}


#contactForm {
	margin-top:35px;
 display: flex;
 flex-direction:column;
 margin: auto;
 justify-content: space-between;
 line-height: 20px;
 color: #fff;
}





#contactPartner
{
	margin-bottom: 10px;
	min-height: 282px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 25px;
	background: url(../images/contact_partner_mobile2.jpg) center no-repeat;
}

#contactPartnerText
{
	min-width: 292px;
	margin-top: 25px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 25px;
	flex-grow: 1;
}

#contactPartnerText h3
{
	font-weight: bolder;
	color: #08B826;
	padding-top: 20px;
	text-align: center;
}

#contactPartnerText p {
	padding-top: 50px;
	font-size: 13px;
	color: #E8FFF0;
	line-height: 30px;
}

@media screen and (min-width:26em) {

	#contactHeroImage {
	 background: url(../images/contact_hero_new_mobile_big.jpg) no-repeat bottom;
	}

}

@media screen and (min-width:39em) {
	#contactPartner
	{

		background: url(../images/contact_partner_mobile2_big.jpg) center no-repeat;
	}

  #contactPartnerText p { font-size: 16px;}
}

@media screen and (min-width:58em) {
	#contactHeroImage {
	 height: 448px;
	 margin-left: 55px;
	 margin-right: 50px;
	 flex-grow: 1;
	 background: url(../images/contact_hero_new_desktop.jpg) no-repeat bottom;
	 }


	 #contactHero {
	 width: 1250px;
	  height: 465px;
	  margin: 20px 30px 20px 60px;
	  background: url(../images/contact_hero.jpg) no-repeat bottom;
	 }

	 #contactHero h2
	 {
	  font-size: 53px;
	  line-height: 480px;
	  color: #EEEBEB;
	  padding-top: 10px;
	  text-align: center;
	 }


	 #contactUs
	 {
	 	padding-bottom: 60px;
	 	display: flex;
	 	flex-direction: row;
	   justify-content: flex-start;
	   background: #2E542F;
	 	height: 600px;
	 }

	 #contactUs h2
	 {
	   margin-top: 10px;
	   padding: 20px;
	   font-size: 34px;
	   color: #EEEBEB;
	 	text-align: center;
	 }


	 #contactText
	 {
	 	width: 590px;
	   height: 475px;
	   margin-left: 120px;
	   margin-bottom: 50px;

	 }

	 #contactText p
	 {
	 	margin-top: 5px;
	 	font-size: 21px;
	 	line-height: 25px;
	 	color: #C9C9C9;
	 	text-align: left;
	 }


	 #contactImg
	 {
	 	margin-left: 160px;
	   margin-top: 90px;
	   margin-right: 60px;
	   margin-bottom: 50px;
	 	width: 433px;
	   height: 400px;
	   background: url(../images/contact_hours.jpg) no-repeat bottom;
	 }

	 #contactImg h3
	 {
	 	color: #fff;
	 	margin-top: 80px;
	 	line-height: 100px;
		text-align: center;
	 }

	 #contactImg p
	 {
	 	line-height: 30px;
	 	margin-top: 50px;
	 }

	 #contactPartner
	 {
	 	padding-bottom: 40px;
	 	display: flex;
	 	flex-direction: row;
	   justify-content: flex-start;
	   background: #2E542F;
	 	margin-top: 10px;
	 	height: 392px;
	 	margin-bottom: 10px;
	 	background: url(../images/contact_partner.jpg) no-repeat bottom;
	 }

	 #contactPartner p
	 {
	 	text-align: center;

	 }

	 #contactPartnerText
	 {
	 	width: 590px;
	   height: 370px;
	   margin-top: 40px;
	   margin-left: 120px;
	   margin-bottom: 50px;
	 }

	 #contactPartnerText h2
	 {
	   margin-top: 10px;
	   padding: 20px;
	   font-size: 34px;
	   color: #EEEBEB;
	 	text-align: left;
	 }

	 #contactPartnerText p
	 {
	 	margin-top: 70px;
	 	font-size: 21px;
	 	line-height: 30px;
	 	color: #F5F4F4;
	 	text-align: left;
	 }



	 #contactForm {
	   margin-top:35px;
	 	display: flex;
	 	flex-direction:column;
	 	justify-content: space-between;
	 	line-height: 20px;
	 	color: #fff;

	 }


	 #submit {

	   color: #FFF;

	   background-color: #000;

	   border: 1px solid #000;
	 }

	 #rightArea {
	   width: 360px;
	   margin-left: 90px;
	 }

 }

@media screen and (min-width:64em) {
	#contactPartnerText  {
		font-size: 24px;
	}
}
